<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: head(title='Gameshop3 - Bienvenido')"></head>
<body>
<div class='container container-app'>
    <div th:replace="fragments/header.html :: header(option='Juegos')"></div>

    <div id="content">
        <main>
            <!-- Contenido -->
            <div class="page-header text-center">
                <h2 th:text="${juego.idjuego==0? 'Nuevo juego': 'Editar juego'}"></h2>
            </div>
            <div class="container-fluid">
                <form method="POST" class="row g-3" th:action="@{'/save/juegos'}" th:object="${juego}">
                    <div class="form-group">
                        <label>Nombre</label>
                        <input class="form-control" th:field="*{nombre}">
                    </div>
                    <div class="form-group">
                        <label>Descripción</label>
                        <input class="form-control" th:field="*{descripcion}">
                    </div>
                    <div class="form-group">
                        <label for="genero">Género</label>
                        <select id="genero" class="form-control" th:field="*{genero}">
                            <option th:each="generoEach : ${generos}" th:value="${generoEach.idgenero}"
                            th:text="${generoEach.nombre}">Choose...</option>
                            <option>...</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="plataforma">Plataforma</label>
                        <select id="plataforma" th:field="*{plataforma}" class="form-control" >
                            <option th:each="plataformaEach : ${plataformas}" th:value="${plataformaEach.idplataforma}"
                            th:text="${plataformaEach.nombre}">Choose...</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="distribuidora">Distribuidora</label>
                        <select id="distribuidora" class="form-control" th:field="${distribuidoras}">
                            <option  th:each="distribuidoraEach : ${distribuidoras}" th:value="${distribuidoraEach.iddistribuidora}"
                            th:text="${distribuidoraEach.nombre}">Choose...</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Imagen URL</label>
                        <input class="form-control" th:field="*{image}">
                    </div>
                    <div class="form-group">
                        <label>Precio</label>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text">S/</div>
                            </div>
                            <input class="form-control" th:field="*{precio}">
                        </div>
                    </div>

                    <div class="form-group">
                        <a th:href="@{/juegos/lista}" class="btn btn-danger">Cancelar</a>
                        <button type="submit" class="btn btn-primary" th:text="${id==0? 'Registrar': 'Actualizar'}">Reg/act</button>
                    </div>
                </form>
            </div>
        </main>
    </div>
    <!-- /Contenido -->
    <div th:replace="fragments/footer.html :: footer(year='2022')"></div>
</div>
<div th:replace="fragments/base.html :: jsScripts"></div>
</body>
</html>