<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: head(title='Gameshop3 - Bienvenido')"></head>
<body>
<div class='container'>
    <div th:replace="fragments/header.html :: header(option='Distribuidoras')"></div>

    <div id="content">
        <main>
            <!-- Contenido -->
        <div class="page-header text-center">
            <h2 th:text="${distribuidora.iddistribuidora==0 ? 'Nueva Distribuidora' : 'Editar Distribuidora'}"></h2>
        </div>
        <div class="container-fluid">
                <form method="POST" th:action="@{'distribuidoras/guardar'}" class="row g-3" th:object="${distribuidora}">
                    <input hidden th:field="*{iddistribuidora}">

                    <div class="form-group">
                        <label >Nombre</label>
                        <input class="form-control" th:field="*{nombre}">

                    </div>
                    <div class="form-group">
                        <label >Descripción</label>
                        <input class="form-control" th:field="*{descripcion}">

                    </div>
                    <div class="form-group">
                        <label >URL Web</label>
                        <input class="form-control" th:field="*{web}">
                    </div>

                    <div class="form-group">
                        <label >Fundación</label>
                        <input class="form-control" th:field="*{fundacion}">

                    </div>
                    <div class="form-group">
                        <label for="sede">Sede</label>
                        <select id="sede" th:field="*{pais}" class="form-control" >
                            <option th:each="paisEach : ${listaSedes}" th:value="${paisEach.idpais}"
                                    th:text="${paisEach.nombre}">Choose...</option>
                        </select>

                    </div>

                    <div class="form-group">
                        <a th:href="@{/distribuidoras/lista}" class="btn btn-danger">Cancelar</a>
                        <button type="submit" class="btn btn-primary" th:text="${distribuidora.iddistribuidora==0? 'Registrar': 'Actualizar'}">Reg/act</button>
                    </div>
                </form>
        </div>
        </main>
    </div>
            <!-- /Contenido -->
    <div th:replace="fragments/footer.html :: footer(year='2022')"></div>
</div>
<div th:replace="fragments/base.html :: jsScripts"></div>
</body>
</html>